*{
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*****************  Header Styles start ******************/
.bacground_img{
    background-image: url("../images/bacground_img.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 782px;
    position: relative;
}

.bacground-line{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
    position: absolute;
}
/*********************  Navbar Styles start  **************************/

.navbar{
    display: flex;
    justify-content: space-between;
    width: 70%;
    position: absolute;
    margin: 17px 0 0 166px;
    align-items: center;
}

.site-header-logo{
    display: flex;
    text-decoration: none;

}
.header-logo__img{
    width: 25px;
    height: 17px;
    margin-right: 10px;
}
.header-logo-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 136px;
    height: 22px;
}
.site-header-list{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    width: 445px;
    height: 22px;
    list-style: none;
    margin: 41px 115px 37px 161px;
}
.site-header-item{
    padding-left: 0;
    margin-right: 22px;
}

.site-header-link{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0.8;
}
.site-header-link:hover{
    opacity: 1;
}

.navbar-end{
    display: flex;
}

.navbar-end-lang{
    display: flex;
    align-items: center;
    margin-right: 29px;
}
.flag{
    width: 32px;
    height: 32px;
    margin-right: 12px;
}
.language{
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 8px;
}

.navbar-end-link{
    width: 100px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    text-decoration: none;
}

.navbar-end-login {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 11px 28px 12px 29px;
}

/*********************  Navbar Styles end  **************************/


.header-title{
    position: absolute;
    width: 578px;
    height: 86px;
    left: 450px;
    top: 257px;
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-description{
    position: absolute;
    width: 540px;
    height: 124px;
    left: 475px;
    top: 382px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.header-button{
    position: absolute;
    width: 160px;
    height: 50px;
    left: 670px;
    top: 545px;
    background: #FFFFFF;
    border-radius: 6px;
}
/*****************  Header Styles end ******************/
/*****************  Main Styles start ******************/
/******************   First Section Styles start  *****************/
.first-section-wrapper{
    width: 100%;
    height: 500px;
}
.first-section-title{
    position: absolute;
    width: 451px;
    height: 107px;
    left: 195px;
    top: 922px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}
.first-section-description{
    position: absolute;
    width: 445px;
    height: 115px;
    left: 195px;
    top: 1053px;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
}

.first-section-link{
    position: absolute;
    width: 72px;
    height: 20px;
    left: 195px;
    top: 1152px;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #ED4C5C;
    text-decoration: none;
}

.first-section-wrapper__play{
    position: absolute;
    width: 66px;
    height: 66px;
    left: 732px;
    top: 999px;
}

.first-section-wrapper-bac_img{
    background-image: url("../images/Video_bg.png");
    position: absolute;
    width: 445px;
    height: 311px;
    left: 765px;
    top: 876px;
    border-radius: 15px;
}

/******************  First Section Styles end *********************/

/******************  Second Section Styles start *********************/
.second-section-wrapper{
    background-color: #FAFAFA;
    width: 100%;
    height: 660px;
}

.card{
    position: absolute;
    width: 350px;
    height: 250px;
    left: 165px;
    top: 1463px;
    background: url("../images/img_1.png");
    border-radius: 8px;
}

.card-text{
    position: absolute;
    width: 293px;
    height: 198px;
    left: 194px;
    top: 1620px;
    background: #FFFFFF;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.second-section-title{
    position: absolute;
    width: 1110px;
    height: 55px;
    left: 165px;
    top: 1345px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000000;
}

.card-text-title{
    margin-top: 33px;
    margin-left: 32px;
    width: 229px;
    height: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
}

.card-text-description{
    margin-top: 20px;
    margin-left: 32px;
    width: 229px;
    height: 57px;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #101010;
}

.card-text-more{
    margin-top: 5px;
    margin-left: 15px;
    width: 253px;
    height: 18px;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #ED4C5C;
}

.card-2{
    position: absolute;
    width: 350px;
    height: 250px;
    left: 545px;
    top: 1463px;
    background: url("../images/img_2.png");
    border-radius: 8px;
}

.card-text-2{
    position: absolute;
    width: 293px;
    height: 198px;
    left: 574px;
    top: 1620px;
    background: #FFFFFF;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card-3{
    position: absolute;
    width: 350px;
    height: 250px;
    left: 925px;
    top: 1463px;
    background: url("../images/img_3.png");
    border-radius: 8px;
}
.card-text-3{
    position: absolute;
    width: 293px;
    height: 198px;
    left: 954px;
    top: 1620px;
    background: #FFFFFF;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}









/******************  Second Section Styles end *********************/

/*****************  Main Styles end ******************/

